<!-- DEV-NOTES:
	Component :   Header
	Role : 		  Header
	Variables :   None
	Author:       Luis Willnat
	Date: 	      24.01.18
-->


<header class="header">
	<div class="header__container">
		<img class="header__image header__background" src="../../../resources/img/Header_Page2_1024.jpg" alt="Header Image" />
		<img class="header__image header__logo" src="../../../resources/img/siemens-logo.jpg" alt="Siemens logo"/>

		<img class="header__slideButtons header__leftSlideButton onlyMedium " src="../../../resources/img/Button_Header_Previous.png" alt="Previous slide" />
		<img class="header__slideButtons header__rightSlideButton onlyMedium " src="../../../resources/img/Button_Header_Next.png" alt="Next slide" />

		<h1 class="header__text">A world leader in innovation <br/> for a world in change.</h1>
	</div>
</header>
