<!-- DEV-NOTES:
	Component :   Footer
	Role : 		  Footer
	Variables :   None
	Author:       Luis Willnat
	Date: 	      24.01.18
-->

<div class="footer">
	<footer>
		<nav class="footer__desktopNavigation">
			<ul>
				<li><a href="#">Siemens.com Global Website</a></li>
				<li><a href="#">m.siemens.com Mobile Website</a></li>
				<li><a href="#">Siemens AG 2002-2012 - Corporate Information</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Confidential</a></li>
			</ul>
		</nav>

		<p class="footer__mobileCopyright">&copy; Siemens AG 1996-2012 Impressum</p>

	</footer>
</div>
