<!-- DEV-NOTES:
	Component :   Headline h2
	Role : 		  Headline h2
	Variables :   headlineHeadline => actual headline for the component, otherwise default
	Author:       Luis Willnat
	Date: 	      24.01.18
-->

<div class="component h2"
	data-resources="[{paths : ['components/headlineH2/css/headline.h2.css']}]">
	<h2>
		{{def headlineHeadline 'H2 headline' }}
	</h2>
</div>
