@import "../utilities/functions";
@import "../../../../node_modules/breakpoint-sass/stylesheets/breakpoint";


.row {
	//margin-left: -$half-grid-gutter;
	//margin-right: -$half-grid-gutter;
	//max-width: none;
	//padding-top: $section_padding_top_mobile;
	//padding-bottom: $section_padding_bottom_mobile;


	//@media (min-width: $medium) {
	//	margin-top: $section_margin_top_medium_screen;
	//}
    //
	//@media (min-width: $xlarge) {
	//	margin-top: $section_margin_top_xlarge;
	//}

		margin: 0;
	padding: 0;

	&:after {
		content: " ";
		display: block;
		clear: both;
	}

	+ .row,
	.row {
		margin-top: 0;
	}

	&--reducedWidth {
		margin-left: calc(2.25% - #{$half-grid-gutter});
		margin-right: calc(3.75% - #{$half-grid-gutter});

		@include breakpoint($medium) {
			margin-left: calc(1.96% - #{$half-grid-gutter});
			margin-right: calc(4.3% - #{$half-grid-gutter});
		}

		@include breakpoint(1520px) {
			max-width: $content-max-width + $grid-gutter;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--reducedHeight {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	&--fullWidthNoPadding {
		.col:not([class*='--']) {
			@include breakpoint($medium) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.col {
	@include span(12);
	//margin-top: $section_margin_top_small_screen;
	//padding-right: $col_margin_right;
	//padding-left: 0;

	//@media (min-width: $medium) {
	//	margin-top: $section_margin_top_medium_screen;
	//}
    //
	//@media (min-width: $xlarge) {
	//	margin-top: $section_margin_top_xlarge;
	//}
    //

	&--colorTheme {
		&1  { color: rgba(200, 210, 215, 1)}
	}

	&--dividerBetween:after {
		content: '';
		width: 100%;
		border: 1px solid $white;
	}
}

// grid columns
@include make-grid-columns('col--medium', $medium);
@include make-grid-columns('col--large', $large);
