<!-- DEV-NOTES:
	Component :   Image
	Role : 		  Image
	Variables :   imageSource => Source of the image otherwise a default
				  imageAlt => Alternative text of the image otherwise default
	Author:       Luis Willnat
	Date: 	      24.01.18
-->


<div class="image">
	<img class="{{class}}"
		 src="{{def imageSource '../../_assets/siemens-logo.jpg'}}"
		 alt="{{def imageAlt 'Random image'}}">
</div>
