<!-- DEV-NOTES:
	Component :   Navigation Right Corner
	Role : 		  Corner which moves with the screen when scrolling down and up
	Variables :   None
	Author:       Luis Willnat
-->
<div class="navigationRightCorner component"
	data-resources="[{paths: ['components/navigationRightCorner/css/navigationRightCorner.css', 'components/navigationRightCorner/js/jquery.navigationRightCorner.js']}]"
	data-init="(function($elmt){$elmt.navigationRightCorner();})">
	<nav>
		<ul>
			<li><a href="#">Top</a></li>
			<li><a href="#">Our passion</a></li>
			<li><a href="#">Quick facts</a></li>
			<li><a href="#">A difference</a></li>
		</ul>
	</nav>

</div>
