<div class="col col--medium-4 exception-1">
		<p>
			Siemens has remained true to the pioneering spirit ignited by our founder, Werner von Siemens, more thatn 160 years ago. Each year we push ourselves to do better, discover more and achieve greater things. The proof is in our numbers. Are you interested in joining a fast-paced company?<br>
			Think you can keep up?
		</p>

		<img class="" src="../../../../_assets/Info_Grafik1.png" alt="grafik1">
		<img class="" src="../../../../_assets/Info_Grafik2.png" alt="grafik2">

		<!-- Only mobile pictures -->
		<img class="only-mobile" src="../../../../_assets/Info2.png" alt="grafik3">
</div>

<div class="col col--medium-4 only-medium">
	<img src="../../../../_assets/Info_Grafik3.png" alt="Grafik3">
	<img src="../../../../_assets/Info2.png" class="topPadding" alt="grafik3">
</div>
<div class="col col--medium-4 only-medium">

	<img src="../../../../_assets/Info_Grafik5.png" alt="grafik1">
	<img src="../../../../_assets/Info_Grafik6.png" alt="grafik1">
	<img src="../../../../_assets/Info_Grafik7.png" alt="grafik1">
</div>


<!--<div class="containerButton only-mobile">-->
	<!--<button class="button-more-facts">Explore more facts</button>-->
	<!--<span class="arrow-down-accordion" ></span>-->
<!--</div>-->
