<div class="col col--medium-4 col--colorTheme1">
	<p>
		Today our world is full of constant upheaval and major ecological and
		political challenges. We are increasingly faced with pressing global
		questions such as:
	</p>
	<br/>
	<p>
		How can we create economic growth while reducing the consumption of energy and resources?
	</p>
</div>
<div class="col col--medium-4 col--colorTheme1">
	<p>
		How can we promote urban growth and improve overall quality of life at the same time?
	</p>
	<hr>
	<p>
		How we can ensure healthcare is both high quality and affordable?
	</p>

	<hr>
	<p>
		How can we make industrial production more flexible, efficient and competitive?
	</p>
</div>
